fastapi==0.111.0
uvicorn==0.30.1
pinecone
langchain==0.2.1
langchain-pinecone
langchain-community==0.0.12
langchain-core==0.2.1
openai==1.30.1
sentence-transformers==2.6.1
PyMuPDF==1.24.5
pytesseract==0.3.10
pdfminer.six==20221105
python-dotenv==1.0.1
